@model User

@section Dashboard{
    <link rel="stylesheet" href="~/css/Dashboard.css">
    <link rel="stylesheet" href="~/css/Queries.css">
}


<header id="Details-header">
    <div class="wrapper nav">
        <div class="logo" data-aos="fade-down">
            <h1>Profile</h1>
        </div>
        <div class="nav-links">
            <ul>
                <li>
                    <a asp-action="Dashboard" asp-controller="Home">Dashboard</a>
                </li>
            </ul>
        </div>
    </div>
</header>


<section id="helperDetails-main" class="wrapper">

    <div id="helper-details" class="person-info-container">
        <div class="person-image">
            <form id="iconUpdate" asp-action="AddAvatar" asp-route-UserId="@Model.UserId" asp-controller="Home" method="POST">
                <input asp-for="ImageUrl" type="hidden" id="iconval">
            </form>
            @if (@Model.ImageUrl == null)
            {
                <div class="mainImg">
                    <img src="~/images/default.png"/>
                </div>
                <div id="select-btn">Select your avatar</div>
                <div id="avatarList">
                    <ul>
                        <li>
                            <img src="~/images/10153.png" class="pic">
                        </li>
                        <li>
                            <img src="~/images/10154.png" class="pic">
                        </li>
                        <li>
                            <img src="~/images/10155.png" class="pic">
                        </li>
                        <li>
                            <img src="~/images/10156.png" class="pic">
                        </li>
                        <li>
                            <img src="~/images/10157.png" class="pic">
                        </li>
                        <li>
                            <img src="~/images/10159.png" class="pic">
                        </li>
                        <li>
                            <img src="~/images/10160.png" class="pic">
                        </li>
                        <li>
                            <img src="~/images/10161.png" class="pic">
                        </li>
                        <li>
                            <img src="~/images/10162.png" class="pic">
                        </li>
                        <li>
                            <img src="~/images/10163.png" class="pic">
                        </li>
                        <li>
                            <img src="~/images/10165.png" class="pic">
                        </li>
                        <li>
                            <img src="~/images/10166.png" class="pic">
                        </li>
                        <li>
                            <img src="~/images/10167.png" class="pic">
                        </li>
                        <li>
                            <img src="~/images/10168.png" class="pic">
                        </li>
                        <li>
                            <img src="~/images/10169.png" class="pic">
                        </li>
                        <li>
                            <img src="~/images/10171.png" class="pic">
                        </li>
                        <li>
                            <img src="~/images/10172.png" class="pic">
                        </li>
                        <li>
                            <img src="~/images/10173.png" class="pic">
                        </li>
                        <li>
                            <img src="~/images/10174.png" class="pic">
                        </li>
                        <li>
                            <img src="~/images/10175.png" class="pic">
                        </li>
                    </ul>
                </div>
            }
            else
            {
                <div class="mainImg">
                    <img class="pic" src="@Model.ImageUrl">
                </div>
                <div id="select-btn">Edit your avatar</div>
                <div id="avatarList">
                    <ul>
                        <li>
                            <img src="~/images/10153.png" class="pic">
                        </li>
                        <li>
                            <img src="~/images/10154.png" class="pic">
                        </li>
                        <li>
                            <img src="~/images/10155.png" class="pic">
                        </li>
                        <li>
                            <img src="~/images/10156.png" class="pic">
                        </li>
                        <li>
                            <img src="~/images/10157.png" class="pic">
                        </li>
                        <li>
                            <img src="~/images/10159.png" class="pic">
                        </li>
                        <li>
                            <img src="~/images/10160.png" class="pic">
                        </li>
                        <li>
                            <img src="~/images/10161.png" class="pic">
                        </li>
                        <li>
                            <img src="~/images/10162.png" class="pic">
                        </li>
                        <li>
                            <img src="~/images/10163.png" class="pic">
                        </li>
                        <li>
                            <img src="~/images/10165.png" class="pic">
                        </li>
                        <li>
                            <img src="~/images/10166.png" class="pic">
                        </li>
                        <li>
                            <img src="~/images/10167.png" class="pic">
                        </li>
                        <li>
                            <img src="~/images/10168.png" class="pic">
                        </li>
                        <li>
                            <img src="~/images/10169.png" class="pic">
                        </li>
                        <li>
                            <img src="~/images/10171.png" class="pic">
                        </li>
                        <li>
                            <img src="~/images/10172.png" class="pic">
                        </li>
                        <li>
                            <img src="~/images/10173.png" class="pic">
                        </li>
                        <li>
                            <img src="~/images/10174.png" class="pic">
                        </li>
                        <li>
                            <img src="~/images/10175.png" class="pic">
                        </li>
                    </ul>
                </div>
            }
        </div>
        <div class="person-info-text">
            <p><span class="bold">Name: </span>@Model.FirstName @Model.LastName</p>
            <p><span class="bold">Email: </span>@Model.Email</p>
            <p><span class="bold">Phone: </span>@Model.PhoneNumber</p>
            <p><span class="bold">Venmo ID: </span>@Model.VenmoId</p>
            <p><span class="bold">ZipCode: </span>@Model.ZipCode</p>
        </div>

    </div>

    <div class="accepted-container">
        <h4>Accepted Requests</h4>
        @if (@ViewBag.Completed != null)
        {
            @foreach (var req in @ViewBag.Completed)
            {
                <div class="requestee-container">

                    <div class="col">
                        <p><span class="bold">From: </span><a asp-action="Detail" asp-route-Uid = "@req.Creator.UserId" class="orange">@req.Creator.FirstName @req.Creator.LastName</a></p>
                        <p><span class="bold">Items: </span> @req.Items</p>
                        <p><span class="bold">Notes: </span>@req.Notes</p>
                    </div>
                    <div class="col">
                        @if(@Model.UserId == @ViewBag.CurrentUser.UserId)
                        {
                            <form asp-action="CancelReq" asp-route-reqId="@req.RequestId" asp-controller="Home" method="POST">
                                <input type="submit" class="cancel-btn" value="Cancel Request">
                            </form>
                        }
                    </div>
                </div>
            }
        }else{
            <p>No requests, visit the <a asp-action="Dashboard" class="blue">Dashboard</a> to start helping our community</p>
        }
    </div>

</section>





